button {
  background: #ff4081;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #e91e63;
}
